<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Modifica Libro</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="page">

		<div th:if="${currBook}">

			<!-- Immagini libro -->
			<div class="slider-container">
				<div class="slider" id="imageSlider">
					<div class="slides" th:each="img : ${currBook.images}">
						<img class="slider-image" th:src="@{'/image/' + ${img.id}}" alt="Copertina libro" />

						<form th:if="{#authorization.expression('hasAuthority(''ADMIN'')')}"
							th:action="@{'/admin/editBooks/' + ${currBook.id} + '/image/' + ${img.id} + '/delete'}"
							method="post"> <button class="btn-danger" type="submit">Cancella</button> </form>
					</div>
				</div>
			</div>
			<form th:if="{#authorization.expression('hasAuthority(''ADMIN'')')}"
				th:action="@{'/admin/editBooks/' + ${currBook.id} + '/image'}" method="post"
				enctype="multipart/form-data">
				<input type="file" name="imageFiles" accept="image/*" multiple onchange="this.form.submit()" />
			</form>
		</div>
	</div>

	<!-- Info Libro -->
	<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/update'}" method="post">
		<label for="title">Titolo:</label>
		<input type="text" name="title" th:value="${currBook.title}" required />
		<br>
		<label for="releaseYear">Anno di pubblicazione:</label>
		<input type="int" name="releaseYear" th:value="${currBook.releaseYear}" />
		<br>
		<button type="submit">Salva modifiche</button>
	</form>

	<!-- Elenco autori -->
	<div>
		<h2>Scritto da:</h2>
		<ul class="book-list">
			<li th:each="a : ${currBook.authors}">
				<a th:href="@{'/admin/editAuthors/' + ${a.id}}" class="book-item">
					<img class="book-cover" th:if="${a.picture!=null}" th:src="@{'/authors/' + ${a.id} + '/image'}"
						alt="Foto Autore" />
					<div class="book-details">
						<span class="book-title" th:text="${a.name + ' ' + a.surname}">Nome Cognome</span>
						<span class="book-meta">
							<span th:text="${'Nazionalità: '+ a.nationality}">Nazionalità:</span>
							<span th:text="${'Data di nascita: '+ #temporals.format(a.dateOfBirth, 'dd/MM/yyyy')}">
								Data di nascita:</span>
						</span>
						<!-- Solo per utenti ADMIN -->
						<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
							<a th:href="@{'/admin/editBooks/' + ${currBook.id} + '/deleteAuthors/' + ${a.id}}">
								Rimuovi</a>
						</div>
					</div>
				</a>
			</li>
		</ul>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
			<h2><a th:href="@{'/admin/editBooks/' + ${currBook.id} + '/addAuthors'}">Aggiungi autore</a></h2>
		</div>
	</div>

	</div>
	<h2 th:unless="${currBook}">Il libro non è presente nel sistema.</h2>
	<h2 th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')}">Solo un amministratore può modificare
		questo libro.</h2>

	</div>
</body>

</html>