<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>SIW - Modifica Libro</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div th:if="${currBook}">

		<!-- Immagini libro -->
		<div class="slider-container">
			<div class="slider" id="imageSlider">
				<div class="slide" th:each="img : ${currBook.images}">
					<img th:src="@{'/books/' + ${currBook.id} + '/image/' + ${img.id}}" alt="Copertina Libro"
						class="slider-image" />
					<form th:action="@{'/admin/editBooks/' + ${book.id} + '/deleteImage/' + ${img.id}}" method="post">
						<button type="submit">Cancella</button>
					</form>
				</div>
			</div>
		</div>
		<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
			<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/uploadImage'}" method="post"
				enctype="multipart/form-data">
				<input type="file" name="images" id="images" accept="image/*" multiple onchange="this.form.submit()" />
			</form>
		</div>

		<!-- Info Libro -->
		<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/update'}" method="post">
			<label for="title">Titolo:</label>
			<input type="text" name="title" th:value="${currBook.title}" required />
			<br>
			<label for="releaseYear">Anno di pubblicazione:</label>
			<input type="int" name="releaseYear" th:value="${currBook.releaseYear}" />
			<br>
			<button type="submit">Salva modifiche</button>
		</form>

		<!-- Elenco autori -->
		<div>
			<h2>Scritto da:</h2>
			<ul class="book-list">
				<li th:each="a : ${currBook.authors}">
					<a th:href="@{'/admin/editAuthors/' + ${a.id}}" class="book-item">
						<img class="book-cover" th:if="${a.picture!=null}" th:src="@{'/authors/' + ${a.id} + '/image'}"
							alt="Foto Autore" />
						<div class="book-details">
							<span class="book-title" th:text="${a.name + ' ' + a.surname}">Nome Cognome</span>
							<span class="book-meta">
								<span th:text="${'Nazionalità: '+ a.nationality}">Nazionalità:</span>
								<span th:text="${'Data di nascita: '+ #temporals.format(a.dateOfBirth, 'dd/MM/yyyy')}">
									Data di nascita:</span>
							</span>
							<!-- Solo per utenti ADMIN -->
							<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
								<a th:href="@{'/admin/editBooks/' + ${currBook.id} + '/deleteAuthors/' + ${a.id}}">
									Rimuovi</a>
							</div>
						</div>
					</a>
				</li>
			</ul>
			<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
				<h2><a th:href="@{'/admin/editBooks/' + ${currBook.id} + '/addAuthors'}">Aggiungi autore</a></h2>
			</div>
		</div>

	</div>
	<h1 th:unless="${currBook}">Il libro non è presente nel sistema.</h1>
</body>

</html>