<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Gestisci Autori</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="page">

		<div th:if="${allAuthors.isEmpty()}">
			<h1>Non sono presenti autori nel sistema.</h1>
		</div>
		<div th:unless="${allAuthors.isEmpty()}" th:replace="fragments.html :: editAuthorsList(${allAuthors})"></div>

	</div>
</body>

</html>