<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Modifica Libro</title>
	<link rel="stylesheet" th:href="@{/css/stile.css}" />
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="main-container">

		<div th:if="${currBook!=null and #authorization.expression('hasAuthority(''ADMIN'')')}">

			<!-- Info Libro -->
			<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/update'}" method="post" th:object="${currBook}">
				<div class="form-group">
					<label for="title">Titolo:</label>
					<input type="text" id="title" th:field="*{title}" required />
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></span>
				</div>

				<div class="form-group">
					<label for="releaseYear">Anno di pubblicazione:</label>
					<input type="number" id="releaseYear" th:field="*{releaseYear}" min="1700" max="2100" required />
					<span th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}" class="error"></span>
				</div>

				<button class="btn" type="submit">Salva modifiche</button>
			</form>

			<!-- Immagini libro -->
			<div class="slider-container">
				<div class="slider" id="imageSlider">
					<div class="slides" th:each="img : ${currBook.images}">
						<img class="slider-image" th:src="@{'/image/' + ${img.id}}" alt="Copertina libro" />

						<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/image/' + ${img.id} + '/delete'}"
							method="post">
							<button class="btn-danger" type="submit">Cancella</button>
						</form>
					</div>

					<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/image'}" method="post"
						enctype="multipart/form-data">
						<label for="imageFiles">Aggiungi immagine:</label>
						<input type="file" id="imageFiles" name="imageFiles" accept="image/*" multiple
							onchange="this.form.submit()" />
					</form>
				</div>
			</div>

			<!-- Elenco autori -->
			<div>
				<h2>Scritto da:</h2>
				<ul class="book-list">
					<li th:each="a : ${currBook.authors}">
						<a th:href="@{'/admin/editAuthors/' + ${a.id}}" class="book-item">
							<img class="book-cover" th:if="${a.picture!=null}" th:src="@{'/image/' + ${a.picture.id}}"
								alt="Foto Autore" />
							<div class="book-details">
								<span class="book-title" th:text="${a.name + ' ' + a.surname}">Nome Cognome</span>
								<span class="book-meta">
									<span th:text="${'Nazionalità: '+ a.nationality}"></span><br>
									<span
										th:text="${'Data di nascita: '+ #temporals.format(a.dateOfBirth, 'dd/MM/yyyy')}"></span>
								</span>

								<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/deleteAuthors/' + ${a.id}}"
									method="post">
									<button class="btn-danger" type="submit">Rimuovi</button>
								</form>
							</div>
						</a>
					</li>
				</ul>

				<form th:action="@{'/admin/editBooks/' + ${currBook.id} + '/addAuthors'}" method="post">
					<button class="btn" type="submit">Aggiungi autore</button>
				</form>
			</div>

		</div>
		<h2 th:unless="${currBook}">Il libro non è presente nel sistema.</h2>
		<h2 th:unless="${#authorization.expression('hasAuthority(''ADMIN'')')}">
			Solo un amministratore può modificare questo libro.</h2>

	</div>
</body>

</html>