<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Nuovo Autore</title>
	<link rel="stylesheet" th:href="@{/css/stile.css}" />
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="main-container">

		<h1>Inserisci Nuovo Autore</h1>

		<form th:action="@{/admin/authors}" method="POST" th:object="${currAuthor}" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Nome:</label>
				<input type="text" id="name" th:field="*{name}" />
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
			</div>

			<div class="form-group">
				<label for="surname">Cognome:</label>
				<input type="text" id="surname" th:field="*{surname}" />
				<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></span>
			</div>

			<div class="form-group">
				<label for="dateOfBirth">Data di nascita:</label>
				<input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" />
				<span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="error"></span>
			</div>

			<div class="form-group">
				<label for="dateOfDeath">Data di morte (opzionale):</label>
				<input type="date" id="dateOfDeath" th:field="*{dateOfDeath}" />
				<span th:if="${#fields.hasErrors('dateOfDeath')}" th:errors="*{dateOfDeath}" class="error"></span>
			</div>

			<div class="form-group">
				<label for="nationality">Nazionalità:</label>
				<input type="text" id="nationality" th:field="*{nationality}" />
				<span th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}" class="error"></span>
			</div>

			<div class="form-group">
				<label for="imageFile">Foto autore:</label>
				<input type="file" id="imageFile" name="imageFile" accept="image/*" />
			</div>
			<br><button type="submit" class="btn">Conferma</button>
		</form>

	</div>
</body>

</html>