<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Seleziona Autore</title>
	<link rel="stylesheet" th:href="@{/css/stile.css}" />
	<!-- Favicon -->
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
	<meta name="theme-color" content="#00ad90">
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="main-container">

		<h1>Seleziona un autore da aggiungere:</h1>

		<div th:if="${allAuthors!=null and !allAuthors.isEmpty()}">
			<ul class="book-list">
				<li th:each="author : ${allAuthors}">
					<div class="book-item">
						<img class="book-cover" th:if="${author.picture != null}"
							th:src="@{'/image/' + ${author.picture.id}}" alt="Foto autore" />
						<div class="book-details">
							<span class="book-title" th:text="${author.name + ' ' + author.surname}">Nome Cognome</span>
							<span class="book-meta">
								<span th:text="${'Nazionalità: '+ author.nationality}">
								</span><br><span
									th:text="${'Data di nascita: '+ #temporals.format(author.dateOfBirth, 'dd/MM/yyyy')}"></span>
							</span>
							<!-- Pulsante per aggiungere l'autore al libro -->
							<form th:action="@{'/admin/editBooks/' + ${bId} + '/addAuthors/' + ${author.id}}"
								method="post" class="inline-form">
								<button type="submit" class="btn">Aggiungi</button>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div th:unless="${allAuthors!=null and !allAuthors.isEmpty()}">
			<h2>Nessun autore disponibile per essere aggiunto a questo libro.</h2>
		</div>

		<div style="margin-top: 2rem;">
			<a th:href="@{'/admin/editBooks/' + ${bId}}" class="btn btn-secondary">Torna indietro</a>
		</div>

	</div>
</body>

</html>