<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Seleziona Libro</title>
	<link rel="stylesheet" th:href="@{/css/stile.css}" />
	<!-- Favicon -->
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
	<meta name="theme-color" content="#00ad90">
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="main-container">

		<h1>Seleziona un libro da aggiungere:</h1>

		<div th:if="${allBooks!=null and !allBooks.isEmpty()}">
			<ul class="book-list">
				<li th:each="book : ${allBooks}">
					<div class="book-item">
						<img class="book-cover" th:if="${book.images!=null and !book.images.empty}"
							th:src="@{'/image/' + ${book.images[0].id}}" alt="Copertina libro" />
						<div class="book-details">
							<span class="book-title" th:text="${book.title}">Titolo</span>
							<span class="book-meta" th:text="${book.releaseYear}">2000</span>
							<!-- Pulsante per aggiungere il libro all'autore -->
							<br>
							<form th:action="@{'/admin/editAuthors/' + ${aId} + '/addBooks/' + ${book.id}}"
								method="post" class="inline-form">
								<button type="submit" class="btn">Aggiungi</button>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<br>
		<h2 th:unless="${allBooks!=null and !allBooks.isEmpty()}">
			Nessun libro disponibile per essere aggiunto a questo autore.</h2>
		<a th:href="@{'/admin/editAuthors/' + ${aId}}" class="btn btn-secondary">Torna indietro</a>
	</div>
</body>

</html>