<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="'SIW - ' + ${currBook.title}">SIW - Libro</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div th:replace="fragments.html :: siteHeader"></div>
	<div th:if="${currBook}">
		<div class="book-details">

			<!-- Info Libro -->
			<span class="book-title" th:text="${currBook.title}">Titolo</span>
			<span class="book-meta" th:text="${'Pubblicato nel: '+currBook.year}">Pubblicato nel: 2000</span>
		</div>

		<!-- Foto libro -->
		<div th:each="img : ${currBook.imageUrls}">
			<img class="book-cover" th:src="${img}" alt="Copertina libro" />
		</div>

		<!-- Elenco autori -->
		<div>
			<h2>Scritto da:</h2>
			<div th:replace="fragments.html :: allAuthorsList(${currBook.authors})"></div>
		</div>

	</div>
	<h1 th:unless="${currBook}">Il libro non è presente nel sistema.</h1>
</body>

</html>