<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="'SIW - ' + ${currAuthor.name} + ' ' + ${currAuthor.surname}">SIW - Autore</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
  <div th:replace="~{fragments.html :: siteHeader}"></div>
  <div th:if="${currAuthor}">
    <div class="book-item">

      <!-- Foto autore -->
      <img class="book-cover" th:if="${currAuthor.picture!=null}" th:src="@{'/authors/' + ${currAuthor.id} + '/image'}"
        alt="Foto Autore" />

      <!-- Info autore -->
      <span class="book-title" th:text="${currAuthor.name + ' ' + currAuthor.surname}">Nome Cognome</span>
      <span th:text="${'Nazionalità: '+ currAuthor.nationality}">Nazionalità:</span>
      <span th:text="${'Data di nascita: '+ #temporals.format(currAuthor.dateOfBirth, 'dd/MM/yyyy')}">
        Data di nascita:</span>
      <span th:if="${currAuthor.dateOfDeath != null}"
        th:text="${'Data di morte: '+ #temporals.format(currAuthor.dateOfDeath, 'dd/MM/yyyy')}">
        Data di morte:</span>
    </div>

    <!-- Elenco libri -->
    <div>
      <h2>Libri pubblicati:</h2>
      <div th:replace="fragments.html :: allBooksList(${currAuthor.books})"></div>
    </div>

  </div>
  <h1 th:unless="${currAuthor}">L'autore non è presente nel sistema.</h1>
</body>

</html>