<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'SIW - ' + ${currAuthor.name} + ' ' + ${currAuthor.surname}">SIW - Autore</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}" />
</head>

<body>
    <div th:replace="~{fragments.html :: siteHeader}"></div>
    <div class="main-container">

        <div th:if="${currAuthor}">
            <div class="author-wrapper">
                <aside class="author-photo">
                    <div th:if="${currAuthor.picture != null}">
                        <!-- ? @{'/image/' + ${currAuthor.picture.id}} : @{/images/default-author.png}" -->
                        <img th:src="@{'/image/' + ${currAuthor.picture.id}}"
                            alt="Foto di [[${currAuthor.name}]] [[${currAuthor.surname}]]" />
                    </div>
                </aside>

                <section class="author-info">
                    <h1 th:text="${currAuthor.name + ' ' + currAuthor.surname}">Nome Cognome</h1>
                    <div class="author-details">
                        <p><strong>Nazionalità:</strong> <span th:text="${currAuthor.nationality}"></span></p>
                        <p th:if="${currAuthor.dateOfBirth != null}">
                            <strong>Data di nascita:</strong> <span
                                th:text="${#temporals.format(currAuthor.dateOfBirth, 'dd/MM/yyyy')}"></span>
                        </p>
                        <p th:if="${currAuthor.dateOfDeath != null}">
                            <strong>Data di morte:</strong> <span
                                th:text="${#temporals.format(currAuthor.dateOfDeath, 'dd/MM/yyyy')}"></span>
                        </p>
                    </div>
                </section>
            </div>

            <div class="author-books">
                <h2>Libri pubblicati</h2>
                <div th:replace="fragments.html :: allBooksList(${currAuthor.books})"></div>
            </div>

            <!-- Messaggio se il libro non esiste -->
        </div><br>
        <a href="/authors" class="btn btn-secondary">Torna indietro</a>
        <h2 th:unless="${currAuthor}">L'autore non è presente nel sistema.</h2>

    </div>
</body>

</html>