<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Login</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="page">

		<h1>Login</h1>

		<form th:action="@{/login}" method="POST">
			<div th:if="${registrationSuccess}" style="color: green; font-weight: bold; margin: 1em 0;">
				Registrazione completata!</div>
			<div th:if="${param.error != null}" style="color: red; font-weight: bold; margin: 1em 0;">
				Username o password errati</div>
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<button type="submit">Login</button>
				<span>oppure</span>
				<button th:href="@{/register}">Registrati</button>
			</div>
		</form>

	</div>
</body>

</html>