<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW - Login</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div th:replace="~{fragments.html :: siteHeader}"></div>
	<div class="main-container">

		<h1>Login</h1>
		<form th:action="@{/login}" method="POST">
			<div th:if="${registrationSuccess}" class="success">
				Registrazione completata!</div>
			<div th:if="${param.error != null}" class="error">
				Username o password errati</div>

			<div>
				<label>Username</label>
				<span><input name="username" type="text" required /></span>
			</div>
			<div>
				<label>Password</label>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<button type="submit">Login</button>
				<h2> oppure </h2>
				<button th:href="@{/register}">Registrati</button>
			</div>
		</form>

	</div>
</body>

</html>