<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="siteHeader">
		<header>
			<div>

				<!-- Sezione sinistra: logo/navigazione -->
				<div class="logo-nav">
					<a href="/"><img src="/images/logo-siw.png" width="150" alt="Logo SIW" /></a>
					<nav>
						<a th:href="@{/books}">Libri</a>
						<a th:href="@{/authors}">Autori</a>
					</nav>
				</div>

				<!-- Sezione destra: login/logout -->
				<div class="user-section">
					<div th:if="${userDetails}">
						<span th:text="${userDetails.username}">utente</span>
						<form class="inline-form" th:action="@{/logout}" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<button class="logout-btn" type="submit">Logout</button>
						</form>
					</div>
					<div th:unless="${userDetails}">
						<a th:href="@{/login}">Login</a>
					</div>
				</div>

			</div>
		</header>
		<br>
	</div>

	<div th:fragment="allAuthorsList(allAuthors)">
		<ul class="book-list">
			<li th:each="a : ${allAuthors}">
				<a th:href="@{'/authors/' + ${a.id}}" class="book-item">
					<img class="book-cover" th:if="${a.picture != null}" th:src="@{'/image/' + ${a.picture.id}}"
						alt="Foto autore" />
					<div class="book-details">
						<span class="book-title" th:text="${a.name + ' ' + a.surname}">Nome Cognome</span>
						<span class="book-meta">
							<span th:text="${'Nazionalità: '+ a.nationality}"></span><br>
							<span th:text="${'Data di nascita: '+ #temporals.format(a.dateOfBirth, 'dd/MM/yyyy')}">
								Data di nascita:</span>
						</span>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div th:fragment="allBooksList(allBooks)">
		<ul class="book-list">
			<li th:each="b : ${allBooks}">
				<a th:href="@{'/books/' + ${b.id}}" class="book-item">
					<img class="book-cover" th:if="${b.images!=null and !b.images.empty}"
						th:src="@{'/image/' + ${b.images[0].id}}" alt="Copertina libro" />
					<div class="book-details">
						<span class="book-title" th:text="${b.title}">Titolo</span>
						<span class="book-meta"
							th:text="${b.authors==null or b.authors.empty ? b.releaseYear : b.authors[0].name + ' ' + b.authors[0].surname + ', ' + b.releaseYear}">
							Nome Cognome, 2000</span>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<div th:fragment="editAuthorsList(allAuthors)">
		<ul class="book-list">
			<li th:each="a : ${allAuthors}">
				<a th:href="@{'/admin/editAuthors/' + ${a.id}}" class="book-item">
					<img class="book-cover" th:if="${a.picture != null}" th:src="@{'/image/' + ${a.picture.id}}"
						alt="Foto autore" />
					<div class="book-details">
						<span class="book-title" th:text="${a.name + ' ' + a.surname}">Nome Cognome</span>
						<span class="book-meta">
							<span th:text="${'Nazionalità: '+ a.nationality}"></span><br>
							<span th:text="${'Data di nascita: '+ #temporals.format(a.dateOfBirth, 'dd/MM/yyyy')}">
								Data di nascita:</span>
						</span>
						<!-- Solo per utenti ADMIN -->
						<br>
						<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
							<form style="all: unset;" th:action="@{'/admin/editAuthors/' + ${a.id}}" method="get">
								<button type="submit">Modifica</button>
							</form>
							<form style="all: unset;" th:action="@{'/admin/editAuthors/' + ${a.id} + '/delete'}"
								method="post">
								<button type="submit" class="btn-danger">Cancella</button>
							</form>
						</div>
					</div>
				</a>
			</li>
			<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
				<a th:href="@{/admin/newAuthorForm}" class="btn">Crea nuovo autore</a>
			</div>
		</ul>
	</div>

	<div th:fragment="editBooksList(allBooks)">
		<ul class="book-list">
			<li th:each="b : ${allBooks}">
				<a th:href="@{'/admin/editBooks/' + ${b.id}}" class="book-item">
					<img class="book-cover" th:if="${b.images!=null and !b.images.empty}"
						th:src="@{'/image/' + ${b.images[0].id}}" alt="Copertina libro" />
					<div class="book-details">
						<span class="book-title" th:text="${b.title}">Titolo</span>
						<span class="book-meta"
							th:text="${b.authors==null or b.authors.empty ? b.releaseYear : b.authors[0].name + ' ' + b.authors[0].surname + ', ' + b.releaseYear}">
							Nome Cognome, 2000</span>
						<!-- Solo per utenti ADMIN -->
						<br>
						<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
							<form style="all: unset;" th:action="@{'/admin/editBooks/' + ${b.id}}" method="get">
								<button type="submit">Modifica</button>
							</form>
							<form style="all: unset;" th:action="@{'/admin/editBooks/' + ${b.id} + '/delete'}"
								method="post">
								<button type="submit" class="btn-danger">Cancella</button>
							</form>
						</div>
					</div>
				</a>
			</li>
			<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
				<a th:href="@{/admin/newBookForm}" class="btn">Crea nuovo libro</a>
			</div>
		</ul>
	</div>

	</div>
</body>

</html>