<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SIW Books - Home</title>
	<link rel="stylesheet" href="stile.css" />
</head>

<body>
	<div th:replace="fragments.html :: siteHeader"></div>
	<h1> Benvenuto nella libreria digitale S.I.W. BOOKS </h1>

	<h2>
		<a href="allBooks.html">Consulta Libri</a>
	</h2>
	<h2>
		<a href="allAuthors.html">Consulta Autori</a>
	</h2>
	<h2>
		<a href="newBookForm.html">Inserisci nuovo Libro</a>
	</h2>
	<h2>
		<a href="newAuthorForm.html">Inserisci nuovo Autore</a>
	</h2>
	<h2>
		<a href="editAllBooks.html">Gestisci Libri</a>
	</h2>
	<h2>
		<a href="editAllAuthors.html">Gestisci Autori</a>
	</h2>
</body>

</html>